<%= simple_form_for @content_type do |form| %>
  <% if content_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content_type.errors.count, "error") %> prohibited this content_type from being saved:</h2>

      <ul>
        <% content_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name %>

  <%= form.simple_fields_for :content_fields do |f| %>
    <%= render 'content_types/content_field_fields', f: f %>
  <% end %>

  <%= link_to_add_fields "Add Field", form, :content_fields %>
  <div class="field">
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
