<div class="bg-container">
  <%= simple_form_for @content_type do |form| %>
    <%= form.input :name, placeholder: 'Name of menu' %>

    <br />
    <hr />

    <div class="d-flex justify-content-between">
      <h5>
        Fields
      </h5>
      <%= link_to_add_fields "+ Field", form, :content_fields %>
    </div>

    <%= form.simple_fields_for :content_fields do |f| %>
      <%= render 'content_types/content_field_fields', f: f %>
    <% end %>

    <div class="fields"></div>

    <div class="actions d-grid gap-2 col-6 mx-auto">
      <br />
      <%= form.submit class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>
</div>

