<br />
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 m-auto">
      <div class="bg-container">
        <%= simple_form_for(@user, url: registration_path(@user)) do |f| %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <br />
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
          <br />
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>

          <div class="actions d-grid gap-2 col-6 mx-auto">
            <br />
            <%= f.submit 'Register', class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>