<br />
<div class="container">
  <div class="row">
    <div class="col-12">
      <br />
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <%- 21.times.each do |number| %>
            <%- if number == 0 %>
              <li class="page-item">
                <%= link_to 'First', avgle_path, class:'page-link'  %>
              </li>
            <%- else %>
              <li class="page-item">
                <%= link_to number, avgle_path(page: number), class:'page-link'  %>
              </li>
            <% end %>

          <% end %>
        </ul>
      </nav>
    </div>
    <div class="col-12 cards">
      <%- @list_av.each do |av| %>
        <div class="card" style="width: 18rem;">
          <img src=<%= av['preview_url'] %> class='card-img-top' alt="" style="height: 200px;"/>
          <div class="card-body">
            <h5 class="card-title"><%= av['title']%></h5>
            <%= link_to 'Go to View',av_detail_path(vid: av['vid']) , class: 'btn btn-primary' %>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>
