
<%= simple_form_for(@expense) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :income %>
    <%= f.input :income_note %>
    <%= f.input :outcome %>
    <%= f.input :outcome_note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
