<br>
<div class="container bg-container">
  <div class="row">
    <div class="col-12 col-md-6 text-center text-md-start">
      <h3>รายจ่าย</h3>
    </div>
    <div class="col-6 col-12 col-md-6 text-center text-md-end align-self-center">
      <div class="row">
        <div class="col-12 col-md-8 align-self-center">
          <%= "เงินในบัญชี: #{Expense.remaining_money}  บาท  " %>
        </div>
        <div class="col-12 col-md-4">
          <%= link_to '+ รายรับ', new_expense_path(type: 'income'), class: 'btn btn-outline-primary' %>
          <%= link_to '+ รายจ่าย', new_expense_path(type: 'outcome'), class: 'btn btn-outline-primary' %>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-12 col-md-6 m-auto">
      <%= form_for(:filter, url: expenses_path, method: :get)  do |f|%>
        <%= f.label :date, 'Month' %>
        <%= f.select :date,  Date::MONTHNAMES.compact.zip(1.upto(12)).to_h, selected: params[:filter].present? ? params[:filter][:date] :  Date.today.month %>
        <%= f.submit 'Search',class: 'btn btn-primary' %>

        <%= link_to 'Reset', expenses_path, class: 'btn btn-outline-primary' %>
      <% end %>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-12 col-md-6 m-auto">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" width="20%">วัน/เดือน/ปี</th>
            <th scope="col">รายจ่าย</th>
            <th scope="col">รายรับ</th>
            <th scope="col">Note</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <%- @expenses.each do |expense| %>
            <tr>
              <th scope="row">
                <%= expense.created_at.strftime('%d/%m/%Y') %>
              </th>
              <td>
                <%= number_to_currency expense.outcome, unit: 'บาท', format: "%n %u", precision: 0 unless expense.outcome == 0  %>
              </td>
              <td>
                <%= number_to_currency expense.income, unit: 'บาท', format: "%n %u", precision: 0 unless expense.income == 0 %>
              </td>
              <td>
                <%= expense.note %>
              </td>
              <td>
                <%= link_to 'ลบ', expense, data: { confirm: 'ต้องการลบใช่ไหม'}, method: :delete, class: 'btn-link' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>